.header__logo {
    position: absolute;
    right: 43.5%;
    cursor: pointer;
    background-position: center center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: all;
}